@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

body{
    font-family: 'Sofia', cursive;
    background: pink url("images/july523/heart.png") repeat;
    background-size: 32px;
    color: #fe2c54;
}

h1{
    text-align: center;
}

.names{
    text-align: center;
}

#mrs{
    font-size: 20pt;
}

#heart{
    font-size: 28pt;
}

#mr{
    font-size: 20pt;
}